body{
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(230, 230, 230);
}
body ul{
    list-style: none;
}
.menu_top ul{
    display: grid;
    grid-template-columns: 7% 70% 7% 7% 7%;
    text-align: left;
    margin-left: 2%;
}
.menu_top a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(85, 85, 85);
}
.main_top-background{
    width: 100%;
    height: 600px;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png?fbclid=IwAR0a7Iw-fLPlZLoYzgGAjmAMH-rq5a89hQ12zvYzpnLIVql_lDOZZWwSpMI);
    background-repeat: no-repeat;
    background-size:100%;
}
.main_top{
    padding-top: 20vh;
    padding-left: 2%;
    color: white;
    line-height: 3px;
}
.main_top h2{
    font-size: 300%;
}
.main_top p{
    font-size: 120%;
}
.main_middle .outBanner{
    line-height: 3px;
    color: rgb(85, 85, 85);
}
.outBanner h3{
    font-size: 200%;
    font-weight: lighter;
    
}
.main_middle{
    margin-left: 2%;
}
.main_middle div{
   display: grid;
   grid-template-columns: 32% 32% 32%;
}
.mainImg img{
  margin-left: auto;
  margin-right: auto;
}
.column1 img{
    width: 375%;
}
.column2 img{
    width: 375%;
}
.column3 img{
    width: 375%;
    height: 51%;
}

.column1 ul{
    line-height: 100px;
}
.column2 ul{
    line-height: 100px;
}
.main_top{
    height: 430px;
}

.main_bottom {
    background-color: white;
    box-shadow: 5px rgb(0, 0, 0);
    margin-left: 2%;
    height: 150px;
    padding-top: 20px;
    
}
.main_bottom ul {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    line-height: 20px;
}
.main_bottom h4{
    display: inline;
   font-size: 20px;
}
.main_bottom a{
    text-decoration: none;
    color: rgb(0, 211, 211);
}
